// Global Override Styles and Added Styles

footer {
	background-color: $footer-background;
	color: $footer-color;
	text-align: center;
	padding: 30px 0;
	margin-top: 30px;
}

section {
	margin: 0 0 30px;
}

.top-bar {
	margin-bottom: $topbar-bottom-margin;
	color: $topbar-color;

	a {
		color: $topbar-color;
	}
}

.button.tertiary {
	color: $white;
	
	&:hover,
	&:focus {
		color: $white;
	}
}

// Sub Header Font Colors (for differentiating between other headers)
// -----------------------
h2, h3 {
	color: $primary-color;
}


// Highcharts Theme
// ------------------------
$colors: 
	$primary-color 
	$secondary-color 
	$tertiary-color  
	#8085e9 
	#f15c80 
	#e4d354 
	#2b908f 
	#f45b5b 
	#91e8e1;

/* Default colors */
@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .highcharts-color-#{$i - 1} {
    fill: $color;
    //stroke: $color;
  }
}