<section>
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <p>
        This is what I'm all about. <a href="" (click)="sendMeHome()">Take me back</a>
      </p>

      <ul>
        <li *ngFor="let goal of goals">
          {{ goal }}
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- <button class="button primary" type="button" (click)="dataRequest()">JSON Data Request</button> -->
<h3>JSON Data from Data Service w/ For Loop</h3>
<table class="stack">
  <thead>
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of _data.data">
      <td>{{ d.userId }}</td>
      <td>{{ d.id }}</td>
      <td>{{ d.title }}</td>
      <td>{{ d.body }}</td>
    </tr>
  </tbody>
</table>