<div class="grid-x grid-padding-x grid-margin-y">
  <div class="large-7 cell" id="grid-wrapper">
    <h4>Ag-Grid Importing JSON File Using json-server</h4>
    <section>
      <div id="grid-wrapper" style="height: 200px">
        <ag-grid-angular
        #agGrid
        style="width: 100%; height: 100%;"
        id="myGrid"
        class="ag-theme-blue"
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableColResize]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>  <!-- [debug]="true" -->
      </div>
    </section>

    <section>
      <div id="grid-wrapper02" style="height: 300px">
        <ag-grid-angular
        agGrid
        style="width: 100%; height: 100%;"
        id="myGrid02"
        class="ag-theme-blue"
        [columnDefs]="columnDefs_02"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableColResize]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
      </div>
    </section>
  </div><!-- /parent col -->

  <div class="large-5 cell">
    <h4>JSON Data from Data Service w/ For Loop </h4>
    <table class="stack">
      <thead>
        <tr>
          <th>User ID</th>
          <th>ID</th>
          <th>Title</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of _data.data">
          <td>{{ d.userId }}</td>
          <td>{{ d.id }}</td>
          <td>{{ d.title }}</td>
          <td>{{ d.body }}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /col -->
</div><!-- /row -->