<div class="grid-x grid-margin-x">
  <div class="small-12 cell">
    <h2>Item List </h2> 
  </div>
</div>
<div class="grid-x grid-padding-x" [@goals]="goals.length">
  <div class="medium-6 cell">
    <h4>Add an Item to Your List</h4>
    <p class="sm">Use this form below to add a new bucket list goal. What do you want to do?</p>
    <form data-abide novalidate>
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form below.</p>
      </div>
      <label>
        List Item
      <!-- Two-way data-binding example -->
      <input type="text" id="exampleTextInput" name="item" required pattern="text" placeholder="Your List Item" [(ngModel)]="goalText">
      <span class="form-error" data-form-error-for="exampleTextInput">This is required.</span>
      <p>
      <!-- <span>{{ goalText }}</span> -->
      </p>
      </label>
      <input type="submit" class="button small" [value]="btnText" (click)="addItem()" />
    </form>
  </div>
  <div class="medium-6 cell">
    <h4>Your Item List ({{ itemCount }})</h4>
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
      {{ goal }}  <!-- interpolation referenced from the For loop above so it displays it here --> 
    </p>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="medium-6 cell">
    <button class="button tertiary" data-open="modalTest">Trigger Modal</button>
  </div><!-- /cell -->
</div><!-- /grid -->

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell">
    <div style="font-size:3em; color:Tomato"><i class="fas fa-user"></i></div>

    <h3>Font Awesome 5 Test w/ Angular - Simple HTML to SVG Auto Conversion</h3>

    <h4>Icon as Object</h4>
    <h5><fa-icon [icon]=faUser></fa-icon> User name here (Size of SVG inherits the font-size of the parent element)</h5>

    <h4>With Transform</h4>
    <div><fa-icon [icon]=faAddressBook transform="grow-10"></fa-icon>
      
    <h4>Animation (Spin)</h4>
    <div><fa-icon [icon]=faSync spin></fa-icon></div>
    <!-- <div [chart]="chart" style="height: 400px"></div> -->
  </div><!-- /cell -->
</div><!-- /grid -->

<div class="grid-x grid-padding-x">
  <div class="small-9 cell">
    <table class="stack">
      <thead>
        <tr>
          <th width="300">Table Header</th>
          <th>Table Header</th>
          <th width="150">Table Header</th>
          <th width="150">Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="tiny reveal" id="modalTest" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <h5>My Modal Title</h5>
  <hr>
  <p>This is the body of my modal</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <button class="button small primary float-right" data-close aria-label="Close modal" type="button">Close</button>
</div> 